// FIRST-SECTION
.first-section {
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('https://s3-alpha-sig.figma.com/img/1131/4362/dd953143a8a4d9f86ec8d71afc0e8103?Expires=1676851200&Signature=Mx2~PClseg3e3BGLyU2Ue4swxvoRy-zURiGqBrMOJdeWN~Ls~BYI4R5iivb5sj2-YVPRHM2T~GfS~th5Eq5rQNFfOwrJm3xCFpIH8nKo1x9GzNHBBkmIXHmqXxaVe6Y~io1Q82iebxKrQnYpWA6gyWBdW7se4R080VSwXLetPbt5ZlSkNaD~LONLIXCQjWrD-4npBtMUMv2ELjLFyMTmSH20dx~tYfnApszekjAE1Hw8kuVFl-rI7Aos9gIGSAbEdDBEw-9eQN-UknPkGUdnBApVrFKWxZ9RI7glf~qOvr86kUQ9PdZTNZWWyjcrefjaS-QAKj5ayziwoFl-hjsm7g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  width: 100%;
  height: 600px;

  text-align: center;

  &__title {
    position: relative;
    top: 200px;

    font-family: $font-1;
    font-size: $font-44;
    text-transform: uppercase;
    font-weight: $font-w-900;
    color: $white;
    line-height: 116%;
    letter-spacing: 1px;

  }

  &__btn {
    position: relative;
    top: 260px;

    background-color: $blue;
    color: $white;
    border: none;

    border-radius: 4px;
    width: 200px;
    height: 50px;

    font-family: $font-1;
    font-size: $font-16;
    font-weight: $font-w-900;
    text-align: center;

    &:hover {
      box-shadow: 0px 4px 4px 0px #00000026;

    }
  }
}

// FEATURE
.feature {
  @include flex();

  margin-top: 94px;

}


.feature-1 {
  text-align: left;
  margin-right: 30px;
  width: 270px;
  height: 100%;
  

  &__image {
    background-color: $white-darken;
    width: 270px;
    height: 120px;

    border-radius: 4px;

    &_img {
      width: 65.32px;
      height: 70px;

      position: relative;
      top: 25px;
      left: 102.34px;
 
      }
    }

  &__title {
    @include font14();

    margin-top: 10px;
    margin-bottom: 10px;

    }

  &__description {
    font-family: $font-1;
    font-size: $font-14;
    font-weight: $font-w-400;
    line-height: 146%;

    color: $gray;
  }
}

// ABOUT
.title {
  text-align: center;
  font-family: $font-1;
  font-size: $font-36;
  font-weight: $font-w-700;
  color: $black;

  padding-top: 94px;
  padding-bottom: 50px;

}

.about {
  @include flex();

  margin-bottom: 94px;


  &-1 {
    &__image {
      width: 370px;
      height: 294px;

    }

    &__description {
      background-color: rgba(47, 48, 58, 0.8);
      width: 370px;
      height: 70px;

      text-align: center;
      color: $white;
      @include font14(); 

      position: relative;
      bottom: 70px;

      padding: 2rem;

    }
  }
}

// OUR TEAM
.team {
  background-color: $gray-light;

  &__lists {
    list-style: none;

    @include flex();

  }

  &__list {
  &_1 {
    position: relative;
    left: 215px;

    @include team();
 }

    &_2 {
    position: absolute;
    left: 515px;

    @include team();

  }

    &_3 {
    position: absolute;
    left: 815px;

    @include team();

    }

    &_4 {
    position: absolute;
    left: 1115px;

    @include team();

    }
  }

  &__image {
    width: 270px;
    height: 200px;

    margin-bottom: 30px;

  }

  &__description {
    text-align: center;
    color: $black;
    font-family: $font-1;
    font-size: $font-16;
    font-weight: $font-w-500;
    line-height: 100%;

    margin-bottom: 30px;

    &_color {
      color: gray;
      font-weight: normal;

    }
  }

  &__link {
    text-decoration: none;
    padding: 1rem;
    
  }
}

// CLIENT
.client {
  @include flex();
  margin-bottom: 94px;

  padding: 0 8rem;

  &__image {
    width: 100px;
    height: 70px;
  }

  &-description {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;

    text-align: center;
    padding: 1rem;

  }
} 

  

