// COLOR
$white: #ffffff;
$white-darken: #E5E5E5;
$gray-darken: #2F303A;
$blue: #2196F3;
$gray: #757575;
$black: #212121;
$gray-light: #F5F4FA;




// FONT
$font-1: 'Roboto', sans-serif;
$font-2:'Raleway', sans-serif;

// FONT-SIZE
$font-14: 14px;
$font-16: 16px;
$font-26: 26px;
$font-36: 36px;
$font-44: 44px;

// FONT-WEIGHT
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;
